# Finder
.DS_Store

# Xcode - User files
xcuserdata/

**/*.xcodeproj/project.xcworkspace/*
!**/*.xcodeproj/project.xcworkspace/xcshareddata

**/*.xcodeproj/project.xcworkspace/xcshareddata/*
!**/*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

**/*.playground/playground.xcworkspace/*
!**/*.playground/playground.xcworkspace/xcshareddata

**/*.playground/playground.xcworkspace/xcshareddata/*
!**/*.playground/playground.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings


# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
Package.resolved

# Cocoapods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# Firebase
GoogleService-Info.plist

# Archives and logs
*.log
*.ipa
*.zip

# Temporary & user-specific files
*.swp
*.swo
*.idea/
*.vscode/
*.xcodeproj/project.xcworkspace/xcuserdata/
xcschememanagement.plist
